* {
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  box-sizing: border-box;
  border-radius: 2em;
  height: 20vw;
  width: 40vw;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(248, 143, 161);
}

.cardImage {
  border-radius: 2em;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  width: 25vw;
}

.description {
  border: solid;
  padding: 1em;
}
